<div class="w-100 d-flex flex-row justify-content-center px-2 px-lg-5 py-5">
    <div class="responsive-width d-flex flex-column gap-5">

        <app-video-card [video]="videos[currentIndex]" [onVideoEnd]="handleEnd" [playlistId]="playlistId" [videoIndex]="currentIndex" [orderedVideoArray]="orderedVideos" [videoArray]="videos" (emitter)="handleChange($event)"></app-video-card>

        <div class="d-flex flex-column gap-3">
            <div class="d-flex flex-row justify-content-center fs-2 gap-3">
                <div>
                    Playlist
                </div>

                <div style="cursor: pointer;" [class]="shuffle() ? 'text-primary' : ''" (click)="toggleShuffle()">
                    <i class="fas fa-shuffle fs-3"></i>
                </div>
            </div>

            <div>
                @for (video of videos; track video.id) {
                <app-playlist-item [video]="video" [index]="$index" [currentIndex]="currentIndex" (emitter)="handleChange($event)" />
                }
            </div>
        </div>
    </div>

</div>